@model Bills.Models.Entities.Item

@{
    ViewData["Title"] = "Create";
}

   <section id="horizontal-form-layouts">
                   
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title-wrap bar-success">
                                            <h4 class="card-title" id="horz-layout-basic">Categories Form</h4>
                                        </div>
                                        <p class="mb-0">This is the basic horizontal form with labels on left and cost estimation form is the default position.</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="px-3">
                                            <form class="form form-horizontal" asp-action="Create">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" asp-for="CompanyId"></label>
                                                    <div class="col-md-9">
                                                        <select asp-for="CompanyId" asp-items="ViewBag.CompanyId" onchange="updateselector(this)"  class="form-control">
                                                            <option value="0" selected="" >choose from Companies</option>
                                                        </select>
														 <span asp-validation-for="CompanyId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" asp-for="typeId" ></label>
                                                    <div class="col-md-9">
                                                        <select asp-for="typeId" asp-items="ViewBag.typeId" class="form-control" id="s1">
                                                            <option value="0" selected="" >choose from types </option>                                                        
                                                        </select>
														 <span asp-validation-for="typeId" class="text-danger"></span>
                                                    </div>
                                                </div>
												<div class="form-group row">
                                                    <label class="col-md-3 label-control" asp-for="unitId"></label>
                                                    <div class="col-md-9">
                                                        <select asp-for="unitId" asp-items="ViewBag.unitId"  class="form-control">
                                                            <option value="0" selected="" >choose from Unit</option>
                                                        </select>
														 <span asp-validation-for="unitId" class="text-danger"></span>
                                                    </div>
                                                </div>
												
													<div class="form-group row">
                                                        <label class="col-md-3 label-control"  asp-for="Name" ></label>
                                                        <div class="col-md-9">
                                                            <input  asp-for="Name" class="form-control" >
															<span asp-validation-for="Name" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                 
                                   
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control"  asp-for="SellingPrice" > </label>
                                                        <div class="col-md-9">
                                                            <input asp-for="SellingPrice" class="form-control" >
															<span asp-validation-for="SellingPrice" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" asp-for="BuyingPrice"> </label>
                                                        <div class="col-md-9">
                                                            <input asp-for="BuyingPrice" class="form-control" >
															<span asp-validation-for="BuyingPrice" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                       <div class="form-group row">
                                                        <label class="col-md-3 label-control"  asp-for="BalanceOfTheFirstDuration" > </label>
                                                        <div class="col-md-9">
                                                             <input asp-for="BalanceOfTheFirstDuration" class="form-control" >
															 <span asp-validation-for="BalanceOfTheFirstDuration" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                      
                    
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" asp-for="Notes" > </label>
                                                        <div class="col-md-9">
                                                            <textarea asp-for="Notes" rows="5" class="form-control" ></textarea>
															 <span asp-validation-for="Notes" class="text-danger"></span>
                                                        </div>
                                                    </div>
													
													
													
													<div class="form-actions" style="border-top:none">
														<a asp-action="Index" asp-controller="Home" class="btn btn-danger mr-1">
															<i class="icon-trash"></i> Cancel
														</a>
														<button class="btn btn-success"  type="submit">
															<i class="icon-note"></i> Save
														</button>
													
													</div>
													
                                                </form></div>
                    
                                            </div>
                                            
                                        </div>
                                    
                                </div>
                            </div>
                        </section>


<script>


       function updateselector(el){

           let id = el.value;
           let options = '';  
           console.log(id)
           
                
             
           
              $.ajax({
            url: "/Items/UpdateSelector",
            data:{"id":id},
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function(result){
                 console.log(result)
             //$("#con").html(result.viewP);
             
            if ( result.length<=0) 
            {
              options += '  <option value="0" selected="" >please go to add type for this company </option> ';  
                $("#s1").html(options);
            }else{
                 options += '  <option value="0" selected="" >choose from types </option> ';  
                  for (let i = 0; i < result.length; i++) { 
                       options += '<option value="' +result[i].id + '">' + result[i].name + '</option>';  
                       console.log(options);
                     }

                 $("#s1").html(options);
            }
           
             
           




         },
                failure: function (response) {
                    alert(response.responseText);
                    console.log(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                    console.log(response.responseText);
                }
         
     
     });
     }


</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
